<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reading Passage Creator</title>
    <link rel="stylesheet" href="/styles/create.css">
</head>

<body>
    <h1>Reading Fluency Activity Creator</h1>
    <p>Use the fields below to create a reading passage.</p>
    <p>
        <b>Title</b> - Choose a unique title. This is what will be used to retreive your reading activity. <i>Ex. Corduroy S17</i><br>
        <input type="text" name="title">
    </p>
    <p>
        <b>Reading Passage</b><br>
        <textarea name="content" rows="15"></textarea>
    </p>
    <p>Select for Japanese text
        <input type="checkbox" name="is-japanese" checked><input type="submit" value="Save">
    </p>
    <script src="/scripts/views/create.js"></script>
</body>

</html>